h1{
	font-family: impact;
	font-size: 60px;
}
.img1{
	width: 500px;
	height: 300px;
	border-block: solid 60px black;
}
.img2{
	width: 500px;
	height: 300px;
	border-block: solid 60px black;
}
.img3{
	width:300px;
	height: 500px;
	border-block: solid 60px black;
}
.img5{
	width: 500px;
	height: 300px;
	border-block: solid 60px black;
}
.img4{
	width: 500px;
	height: 300px;
	border-block: solid 60px black;
}
.img6{
	width: 500px;
	height: 300px;
	border-block: solid 60px black;
}
.img7{
	width: 500px;
	height: 300px;
	border-block: solid 60px black;
}

.img8{
	width: 500px;
	height: 300px;
	border-block: solid 60px black;
}

.img9{
	width: 500px;
	height: 300px;
	border-block: solid 60px black;
}

.img10{
	width: 500px;
	height: 300px;
	border-block: solid 60px black;
}